<div>


    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">About Us... Ehm, Me!</h1>
                <br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <img src="/assets/me.jpg" class="img-fluid rounded" />
            </div>
            <div class="col-sm ">
                <div class="row ">
                    <div class="col">
                        <p class="text-justify">
                            Hi, I'm <b>Leonardo Marafioti</b> and this is my little-ugly-project for my
                            <b>"Piattaforme
                                Software Per Il Web"</b> exam @ <a href="https://www.unical.it/portale/"
                                target="_blank">UNICAL</a>.
                        </p>
                        <p class="text-justify">
                            It's a very simple e-commerce that provide the possibility to create an account, login, add
                            items to the shopping cart and actually buy them!
                        </p>
                        <p class="text-justify">
                            The aim behind all this is to proof that I know a little bit of web developing with
                            enterprise technology such as Java-EE, Spring, Angular and MySQL.
                        </p>
                        <p class="text-justify">Check the source code for both the front-end and the back-end tiers on
                            my github repo linked under this brief description.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <a href="https://www.instagram.com/leo_9_8/" target="_blank">
                        <label for="instagram">Instagram</label>
                        <mat-icon id="instagram">tag</mat-icon>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="https://www.linkedin.com/in/leonardo-marafioti/" target="_blank">
                            <label for="linkedin">Linkedin</label>
                            <mat-icon id="linkedin">link</mat-icon>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="https://www.facebook.com/leonardo.marafioti" target="_blank">
                            <label for="facebook">Facebook</label>
                            <mat-icon id="facebook">facebook</mat-icon>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="https://github.com/leo98ml" target="_blank">
                            <label for="github">Git-Hub</label>
                            <mat-icon id="github">developer_mode</mat-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>