<mat-card (click)="goTo(item)" style="cursor: pointer;" class="d-flex flex-column h-100">
    <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img  mat-card-image [src]="mine.url+'getImage/'+item.directoryImages +'/0'">
    <mat-card-content class="flex-grow-1">
        <p class="text-justify">
            <strong>Descrizione: </strong>{{item.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="row">
            <div class="col"><label mat-label for="price">
                    Prezzo:
                </label>
                <button mat-button style="background-color: rgb(240, 197, 6); color: white;"
                    id=price>{{item.price}}</button>
            </div>
            <div *ngIf="item.discount">
                <div class="col"><label mat-label for="sconto">
                        Sconto:
                    </label>
                    <button mat-button style="background-color: firebrick; color: white;"
                        id="sconto">{{item.discountPercentage}}%</button>
                </div>
                <div class="col"> <label mat-label for="prezzoScontato">
                        Prezzo scontato:
                    </label>
                    <button mat-button style="background-color: rgb(34, 178, 94); color: white;"
                        id="prezzoScontato">{{item.price-item.price/100*item.discountPercentage | number: '1.2-2' }}</button>
                </div>
            </div>
        </div>
    </mat-card-actions>
</mat-card>