<div class="container p-5">
    <div class="row">
        <div class="col p-5">
            <h1 class="text-center">{{item.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 p-3">
            <div id="carouselExampleControls">
                <div class="carousel-inner" style="background-color: gray;">
                    <div class="carousel-item active" align="center">
                        <img class="img-fluid rounded" [src]="mine.url+'getImage/'+item.directoryImages +'/'+ counter">
                    </div>
                    <a class="carousel-control-prev" (click)="dec()">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next pr-5" (click)="inc()">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-3">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Descrizione</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{item.description}}
                    </p>
                </mat-card-content>
            </mat-card>
            <div class="container p-3">
                <div class="row">
                    <div class="col-6 p-1 d-flex align-items-center">
                        
                            <input min="0" max="10" name ="num" [(ngModel)]="num" class="form-control" placeholder="No. pezzi" type="number">
                        
                    </div>
                    <div class="col-6 p-1 d-flex align-items-center">
                        <button [disabled]="num==undefined" (click)="add()" mat-fab id="addCart" style="border-radius: 100%;" color="primary">
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-3">
        <mat-card class=" w-100">
            <mat-card-actions>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"><label mat-label for="price">
                                Prezzo:
                            </label>
                            <button mat-button style="background-color: rgb(240, 197, 6); color: white;"
                                id=price>{{item.price}}</button>

                        </div>
                        <div class="col-8">
                            <div class="row" *ngIf="item.discount">
                                <div class="col-md-6"><label mat-label for="sconto">
                                        Sconto:
                                    </label>
                                    <button mat-button style="background-color: firebrick; color: white;"
                                        id="sconto">{{item.discountPercentage}}%</button>
                                </div>
                                <div class="col-md-6"> <label mat-label for="prezzoScontato">
                                        Prezzo scontato:
                                    </label>
                                    <button mat-button style="background-color: rgb(34, 178, 94); color: white;"
                                        id="prezzoScontato">{{item.price-item.price/100*item.discountPercentage |
                                        number: '1.2-2' }}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </mat-card-actions>
        </mat-card>

    </div>
</div>